*.xcodeproj/project.xcworkspace/xcuserdata/*
xcworkspace
project.xcworkspace
*.xcodeproj/xcuserdata/*
*.xcodeproj/xcuserdata/
.DS_Store
*.xcworkspace/xcuserdata/*
xcuserdata
*/Pods/*
*/Carthage/Checkouts/*i
*/Carthage/Checkouts
*/Carthage/Build/*
*/Carthage/Build
